<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="communicationSettings" type="System.Configuration.AppSettingsSection" />
    <section name="packageSettings" type="System.Configuration.AppSettingsSection" />
    <section name="sessionSettings" type="System.Configuration.AppSettingsSection" />
    <section name="analyticsSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <communicationSettings>
    <add key="maxMessageSizeInMegabytes" value="10" />
    <add key="installPackageTimeout" value="00:20:00" />
    <add key="requestTimeout" value="00:00:40" />
  </communicationSettings>
  <packageSettings>
    <add key="disableSecureXaml" value="false" />
  </packageSettings>
  <sessionSettings />
  <analyticsSettings>
    <add key="Telemetry.Enabled" value="true" />
  </analyticsSettings>
</configuration>